<!DOCTYPE HTML>
<html>
    <head th:include="fragments/common :: [//head]" />
    <body  class="fixed-nav sticky-footer" id="page-top">    
        <div th:replace="fragments/common :: [//sidebar]" />

        <div class="content-wrapper">
            <div class="container-fluid">
                
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Liste des employés</div>
                    <div class="card-body">
                        <div th:if="${success}" class="alert alert-success">

                        </div>


                        <div th:if="${fail}" class="alert alert-danger">

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Login</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Date de création</th>
                                        <th>Date de modification</th>
                                        <th>Etat</th>
                                        <th>Rôle</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="employe : ${employes}">
                                        <td th:text="${employe.login}"></td>
                                        <td th:text="${employe.nom}"></td>
                                        <td th:text="${employe.prenom}"></td>
                                        <td th:text="${employe.dateCreation}"></td>
                                        <td th:text="${employe.dateModification}"></td>
                                        <td th:text="${employe.etat}"></td>
                                        <td th:text="${employe.role.nom}"></td>
                                        <td>
                                            <a th:href="@{/employe/edit(id=${employe.id})}" class="btn btn-primary">Modifier</a>
                                            <a th:href="@{'/employe/delete/' + ${employe.id}}" class="btn btn-danger">Supprimer</a>
                                        </td>



                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:include="fragments/common :: [//footer]" />
    </body>
</html>