<!DOCTYPE HTML>
<html>
    <head th:include="fragments/common :: [//head]" />
    <body  class="fixed-nav sticky-footer" id="page-top">    
        <div th:replace="fragments/common :: [//topbar]" />

        <div class="content-wrapper" style="margin-left: 0px">
            <div class="container-fluid">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item active"><div layout:fragment="title-2">Liste des médias</li>
                </ol>
                <div class="box_general padding_bottom">



                    <div class="row clearfix">
                        <div class="col-sm-3" th:each="media : ${medias}">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${media.nom}"></h5>
                                    <h6 class="card-subtitle mb-2 text-muted" th:text="${media.type.nom}"></h6>
                                    <p class="card-text">
                                        <span th:each="tag : ${media.listTag}" th:text="${tag.tag.nom}" class="badge badge-info"></span>
                                    </p>
                                    
                                    <span th:if="${media.etat}" class="card-link badge badge-success">Disponible</span>
                                    <span th:unless="${media.etat}" class="card-link badge badge-danger">Indisponible</span>
                                    
                                    
                                    <a th:href="@{'/emprunt/create?id='+ ${media.id}}" class="card-link">Effectuer un emprunt</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


    </body>
</html>