<!DOCTYPE HTML>
<html>
    <head th:include="fragments/common :: [//head]" />
    <body  class="fixed-nav sticky-footer" id="page-top">    
        <div th:replace="fragments/common :: [//sidebar]" />

        <div class="content-wrapper">
            <div class="container-fluid">
                
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Liste des types</div>
                    <div class="card-body">
                        <div class="alert alert-success">

                        </div>


                        <div class="alert alert-danger">

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Etat</th>
                                        <th>Date de création</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a href="" class="btn btn-primary"></a>
                                            <a href="" class="btn btn-danger"></a>
                                        </td>



                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:include="fragments/common :: [//footer]" />
    </body>
</html>