<!DOCTYPE HTML>
<html>
    <head th:include="fragments/common :: [//head]" />
    <body  class="fixed-nav sticky-footer" id="page-top">    
        <div th:replace="fragments/common :: [//sidebar]" />

        <div class="content-wrapper">
            <div class="container-fluid">
                
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> 
                        <span th:if="${ role == 'EMPLOYE' }" th:text="'Liste des employés'" />
                        <span th:if="${ role == 'CLIENT' }" th:text="'Liste des clients'" />
                    </div>
                    <div class="card-body">
                        <div th:if="${success}" class="alert alert-success">

                        </div>


                        <div th:if="${fail}" class="alert alert-danger">

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Login</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Date de création</th>
                                        <th>Date de modification</th>
                                        <th>Etat</th>
                                        <th>Rôle</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="utilisateur : ${utilisateurs}" th:if="${utilisateur.role.nom == role}">
                                        <td th:text="${utilisateur.login}"></td>
                                        <td th:text="${utilisateur.nom}"></td>
                                        <td th:text="${utilisateur.prenom}"></td>
                                        <td th:text="${utilisateur.dateCreation}"></td>
                                        <td th:text="${utilisateur.dateModification}"></td>
                                        <td th:text="${utilisateur.etat}"></td>
                                        <td th:text="${utilisateur.role.nom}"></td>
                                        <td th:if="${#strings.startsWith(#httpServletRequest.requestURI, '/employe')}">
                                            <a th:href="@{/employe/edit(id=${utilisateur.id})}" class="btn btn-primary">Modifier</a>
                                            <a th:href="@{'/employe/delete/' + ${utilisateur.id}}" class="btn btn-danger">Supprimer</a>
                                        </td>
                                        <td th:if="${#strings.startsWith(#httpServletRequest.requestURI, '/client')}">
                                            <a th:href="@{/client/edit(id=${utilisateur.id})}" class="btn btn-primary">Modifier</a>
                                            <a th:href="@{'/client/delete/' + ${utilisateur.id}}" class="btn btn-danger">Supprimer</a>
                                        </td>



                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:include="fragments/common :: [//footer]" />
    </body>
</html>