<!DOCTYPE HTML>
<html>
    <head th:include="fragments/common :: [//head]" />
    <body  class="fixed-nav sticky-footer" id="page-top">    
        <div th:replace="fragments/common :: [//sidebar]" />

        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="box_general padding_bottom">
                    <div class="header_box version_2">
                        <h2><i class="fa fa-file"></i>Emprunter un média</h2>
                    </div>
                    <form th:object="${emprunteMedia}" th:action="@{''}" method="post" role="form">

                        <div class="body">


                            <input type="text" hidden th:field="*{media}" />
                            <input type="text" hidden th:field="*{utilisateur}" />
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nom">Date de début</label>
                                        <input type="date" class="form-control" th:field="*{dateDebut}" id="nom">
                                        <span th:if="${#fields.hasErrors('dateDebut')}" th:errors="*{dateDebut}" />
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nom">Date de fin</label>
                                        <input type="date" class="form-control" th:field="*{dateFin}" id="nom">
                                        <span th:if="${#fields.hasErrors('dateFin')}" th:errors="*{dateFin}" />
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-round">Valider</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div layout:fragment="yo">HHH</div>
        <div th:include="fragments/common :: [//footer]" />
    </body>
</html>