<!DOCTYPE HTML>
<html>
    <head th:include="fragments/common :: [//head]" />
    <body  class="fixed-nav sticky-footer" id="page-top">    
        <div th:replace="fragments/common :: [//sidebar]" />

        <div class="content-wrapper">
            <div class="container-fluid">
                
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Liste des emprunts</div>
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Utilisateur</th>
                                        <th>Média</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="emprunt : ${emprunts}">
                                        <td th:text="${emprunt.utilisateur.login}"></td>
                                        <td th:text="${emprunt.media.nom}"></td>
                                        <td th:text="${emprunt.dateDebut}"></td>
                                        <td th:text="${emprunt.dateFin}"></td>
                                        <td>
                                           <a th:href="@{'/emprunt/delete?utilisateur=' + ${emprunt.utilisateur.id} + '&media=' +${emprunt.media.id}}" class="btn btn-danger">Supprimer</a>
                                        </td>



                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:include="fragments/common :: [//footer]" />
    </body>
</html>