<!DOCTYPE HTML>
<html>
    <head th:include="fragments/common :: [//head]" />
    <body  class="fixed-nav sticky-footer" id="page-top">    
        <div th:replace="fragments/common :: [//sidebar]" />

        <div class="content-wrapper">
            <div class="container-fluid">
                
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Liste des médias</div>
                    <div class="card-body">
                       
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Tags</th>
                                        <th>Etat</th>
                                        <th>Date de création</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="media : ${medias}">
                                        <td th:text="${media.nom}"></td>
                                        <td>
                                            <span th:each="tag : ${media.listTag}" th:text="${tag.tag.nom}" class="badge badge-info"></span>
                                        </td>
                                        <td th:text="${media.etat}"></td>
                                        <td th:text="${media.dateCreation}"></td>
                                        <td>
                                            <a th:href="@{/media/tag/edit(id=${media.id})}" class="btn btn-info">Ajouter un tag à un média</a>
                                            <a th:href="@{/media/edit(id=${media.id})}" class="btn btn-primary">Modifier</a>
                                            <a th:href="@{'/media/delete/' + ${media.id}}" class="btn btn-danger">Supprimer</a>
                                        </td>



                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:include="fragments/common :: [//footer]" />
    </body>
</html>